@import url("reset.css");

body {
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    background-color: hsl(216, 12%, 8%);
    color: hsl(217, 12%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem;
}

h1 {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    text-align: left;
}
h2 {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 1.75rem;
}

main {
    width: 100%;
    max-width: 375px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    border: 1px solid hsl(217, 12%, 63%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

main p {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    transition:
        background-color 0.3s,
        border-color 0.3s;
}

fieldset {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    border: none;
    padding: 0;
}

input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    font-size: 1rem;
    cursor: pointer;
}

button {
    background-color: hsl(25, 97%, 53%);
    color: hsl(213, 19%, 18%);
    font-size: 1.25rem;
    padding: 1rem 0;
    width: 100%;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover {
    background-color: hsl(25, 97%, 63%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#thanks {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

}
